<style>

</style>
<div class="kopa-one-two">
<%= form_for @image, html: {multipart: true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
         <%= f.file_field :picture, :class => 'file form-label' %>
             
  </div>
 
    <div class="field">
         <%= f.label :tag_list, "Tags (separated by commas):", :class => 'form-label' %>
         <%= f.text_field :tag_list , :class => 'form-input', :style => 'width: 80%;'%>
    
  </div>
  <div class="clear" style="margin-top:15px;"></div>
  <div class="actions" >
    <%= f.submit 'Create new image', :class => 'red-button' %>
  </div>
<% end %>
</div>

